package ${package};

import tk.mybatis.mapper.annotation.Version;

import javax.persistence.Id;
import javax.persistence.Table;

@Table(name = "${tableName})
public class ${className} {

    #foreach ($column in $columns)
            public static final String FIELD_$column.upperColumnName = "$column.attrname";
    #end

    #foreach ($column in $columns)
        #if($column.columnName == $pk.columnName)
                @Id
                private $column.attrType $column.attrname;
        #elseif($column.columnName == $version.columnName)
                @Version
                private $column.attrType $column.attrname;
        #else
                private $column.attrType $column.attrname;
        #end
    #end

    #foreach ($column in $columns)
            public $column.attrType get${column.attrName}() {
                return $column.attrname;
            }

            public void set${column.attrName}($column.attrType $column.attrname) {
                this.$column.attrname = $column.attrname;
            }
    #end
}
