<style>
    .layui-form-item .layui-input-company {width: auto;padding-right: 10px;line-height: 38px;}
</style>
<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">

        <div class="layui-form layuimini-form">
            <div class="layui-form-item">
                <label class="layui-form-label required">手机或邮箱</label>
                <div class="layui-input-inline">
                    <input type="text" name="loginName" lay-verify="required" placeholder="手机或邮箱" lay-reqtext="账号不能为空" autocomplete="off" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">真实姓名</label>
                <div class="layui-input-inline">
                    <input type="text" name="realName" lay-verify="required" placeholder="真实姓名" lay-reqtext="姓名不能为空" autocomplete="off" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">密码</label>
                <div class="layui-input-inline">
                    <input type="password" id="pwd" name="pwd" lay-verify="required" placeholder="请输入密码" lay-reqtext="密码不能为空" autocomplete="new-password" value="" class="layui-input">
                </div>
                <div class="layui-input-inline">
                    <i class="fa fa-eye-slash" onclick="showPwd()"></i>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">确认密码</label>
                <div class="layui-input-inline">
                    <input type="password" id="confirmPwd" name="confirmPwd" lay-verify="required" placeholder="确认密码" lay-reqtext="密码不能为空" autocomplete="new-password" value="" class="layui-input">
                </div>
                <div class="layui-input-inline">
                    <i class="fa fa-eye-slash" onclick="showConfirmPwd()"></i>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认注册</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
<script src="js/config.js"></script>
<script>
    var pwd = document.getElementById("pwd");
    var confirmPwd = document.getElementById("confirmPwd");

    // 显示密码
    function showPwd() {
        if(pwd.type === "password"){
            pwd.type = "text";
            pwd.class = "fa fa-eye";
        }else {
            pwd.type = "password";
            pwd.class = "fa fa-eye-slash";
        }
    }
    function showConfirmPwd() {
        if(confirmPwd.type === "password"){
            confirmPwd.type = "text";
            pwd.class = "fa fa-eye";
        }else {
            confirmPwd.type = "password";
            pwd.class = "fa fa-eye-slash";
        }
    }

    layui.use(['form','miniPage'], function () {
        var form = layui.form,
            layer = layui.layer,
            miniPage = layui.miniPage;

        /**
         * 初始化表单，要加上，不然刷新部分组件可能会不加载
         */
        form.render();

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            let registerUrl = basicPath;
            if(phoneFormat.test(data.field.loginName)){
                // 手机注册
                registerUrl = registerUrl + '/register/by-phone'
            }else if(emailFormat.test(data.field.loginName)){
                // 邮箱注册
                registerUrl = registerUrl + '/register/by-email'
            }else{
                layer.msg("手机或邮箱格式错误");
                return false;
            }

            $.ajax({
                type: 'post',
                url: registerUrl,
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify(data.field),
                cache: false,
                async: false,
                success: function (data) {
                    let { code, status } = data;
                    if(code !== '200'){
                        layer.msg(data.body);
                    }else {
                        var index = layer.alert(("注册成功,请重新登录"), {
                            title: '提示'
                        }, function () {
                            window.location.replace("../page/login-0.html");
                        });
                    }
                }
            });
            return false;
        });
    });
</script>