<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.basic.infra.mapper.DataEchartsMapper">
    <resultMap id="BaseResultMap" type="com.base.basic.domain.entity.v1.DataEcharts">
        <result column="id" property="id" jdbcType="DECIMAL"/>
        <result column="echart_type" property="echartType" jdbcType="VARCHAR"/>
        <result column="echart_key" property="echartKey" jdbcType="VARCHAR"/>
        <result column="echart_data" property="echartData" jdbcType="VARCHAR"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
    </resultMap>

    <select id="list" parameterType="com.base.basic.domain.entity.v1.DataEcharts" resultMap="BaseResultMap">
        SELECT dde.id,
        dde.echart_type,
        dde.echart_key,
        dde.echart_data
        FROM db_data_echarts dde
        <where>
            <if test="null != echartType and '' != echartType">
                dde.echart_type = #{echartType, jdbcType = VARCHAR}
            </if>
        </where>
        ORDER BY dde.id DESC
    </select>
</mapper>