<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.basic.infra.mapper.DataDictionaryMapper">
    <resultMap id="BaseResultMap" type="com.base.basic.domain.entity.v1.DataDictionary">
        <result column="id" property="id" jdbcType="DECIMAL"/>
        <result column="tag" property="tag" jdbcType="VARCHAR"/>
        <result column="data_key" property="dataKey" jdbcType="VARCHAR"/>
        <result column="data_value" property="dataValue" jdbcType="VARCHAR"/>
        <result column="meaning" property="meaning" jdbcType="VARCHAR"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
    </resultMap>

    <select id="list" parameterType="com.base.basic.domain.entity.v1.DataDictionary" resultMap="BaseResultMap">
        SELECT dd.id,
        dd.tag,
        dd.data_key,
        dd.data_value,
        dd.meaning,
        dd.enabled_flag,
        dd.created_by,
        dd.creation_date,
        dd.last_updated_by,
        dd.last_update_date,
        dd.object_version_number
        FROM db_data_dictionary dd
        WHERE 1 = 1
        <if test="null != tags and tags.size > 0">
            <foreach item="item" index="index" collection="tags" open="(" separator="," close=")">
                #{item, jdbcType = VARCHAR}
            </foreach>
        </if>
        <if test="null != tag and '' != tag">
            AND dd.tag = #{tag, jdbcType = VARCHAR}
        </if>
        <if test="null != dataKey and '' != dataKey">
            AND dd.data_key like concat('%', concat(#{dataKey, jdbcType = VARCHAR}, '%'))
        </if>
        <if test="null != dataValue and '' != dataValue">
            AND dd.data_value like concat('%', concat(#{dataValue, jdbcType = VARCHAR}, '%'))
        </if>
        <if test="null != meaning and '' != meaning">
            AND dd.meaning like concat('%', concat(#{meaning, jdbcType = VARCHAR}, '%'))
        </if>
    </select>
</mapper>