<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.basic.infra.mapper.DbCacheMapper">
    <resultMap id="BaseResultMap" type="com.base.basic.domain.entity.v1.DbCache">
        <result column="id" property="id" jdbcType="DECIMAL"/>
        <result column="cache_type" property="cacheType" jdbcType="VARCHAR"/>
        <result column="cache_key" property="cacheKey" jdbcType="VARCHAR"/>
        <result column="cache_value" property="cacheValue" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="list" parameterType="com.base.basic.domain.entity.v1.DbCache" resultMap="BaseResultMap">
        SELECT dc.id,
        dc.cache_type,
        dc.cache_key,
        dc.cache_value,
        dc.remark,
        dc.object_version_number,
        dc.creation_date,
        dc.created_by,
        dc.last_updated_by,
        dc.last_update_date
        FROM db_cache dc
        WHERE 1 = 1
        <if test="null != cacheType and '' != cacheType">
            AND dc.cache_type like concat('%', concat(#{cacheType, jdbcType = VARCHAR}, '%'))
        </if>
        <if test="null != cacheKey and '' != cacheKey">
            AND dc.cache_key like concat('%', concat(#{cacheKey, jdbcType = VARCHAR}, '%'))
        </if>
        <if test="null != cacheValue and '' != cacheValue">
            AND dc.cache_value like concat('%', concat(#{cacheValue, jdbcType = VARCHAR}, '%'))
        </if>
    </select>
</mapper>