<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.basic.infra.mapper.LotteryDltHistoryMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.base.basic.domain.entity.v1.LotteryDltHistory">
        <result column="id" property="id" jdbcType="DECIMAL"/>
        <result column="draw_num" property="drawNum" jdbcType="VARCHAR"/>
        <result column="draw_time" property="drawTime" jdbcType="DATE"/>
        <result column="front_area1" property="frontArea1" jdbcType="DECIMAL"/>
        <result column="front_area2" property="frontArea2" jdbcType="DECIMAL"/>
        <result column="front_area3" property="frontArea3" jdbcType="DECIMAL"/>
        <result column="front_area4" property="frontArea4" jdbcType="DECIMAL"/>
        <result column="front_area5" property="frontArea5" jdbcType="DECIMAL"/>
        <result column="end_area1" property="endArea1" jdbcType="DECIMAL"/>
        <result column="end_area2" property="endArea2" jdbcType="DECIMAL"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
    </resultMap>

    <select id="list" resultMap="BaseResultMap">
        SELECT id,
        draw_num,
        draw_time,
        front_area1,
        front_area2,
        front_area3,
        front_area4,
        front_area5,
        end_area1,
        end_area2
        FROM db_lottery_dlt_history
        WHERE 1 = 1
        <if test="null != drawTimeFm">
            AND draw_time <![CDATA[ >= ]]> #{drawTimeFm, jdbcType = VARCHAR}
        </if>
        <if test="null != drawTimeTo">
            AND draw_time <![CDATA[ <= ]]> #{drawTimeTo, jdbcType = VARCHAR}
        </if>
    </select>

    <select id="countFrontArea1" parameterType="java.lang.Integer" resultType="java.lang.Long">
        SELECT COUNT(front_area1)
        FROM db_lottery_dlt_history
        WHERE front_area1 = #{frontAreaNum, jdbcType = DECIMAL}
        <if test="null != drawTimeFm">
            AND draw_time <![CDATA[ >= ]]> #{drawTimeFm, jdbcType = VARCHAR}
        </if>
        <if test="null != drawTimeTo">
            AND draw_time <![CDATA[ <= ]]> #{drawTimeTo, jdbcType = VARCHAR}
        </if>
    </select>

    <select id="countFrontArea2" parameterType="java.lang.Integer" resultType="java.lang.Long">
        SELECT COUNT(front_area2)
        FROM db_lottery_dlt_history
        WHERE front_area2 = #{frontAreaNum, jdbcType = DECIMAL}
        <if test="null != drawTimeFm">
            AND draw_time <![CDATA[ >= ]]> #{drawTimeFm, jdbcType = VARCHAR}
        </if>
        <if test="null != drawTimeTo">
            AND draw_time <![CDATA[ <= ]]> #{drawTimeTo, jdbcType = VARCHAR}
        </if>
    </select>

    <select id="countFrontArea3" parameterType="java.lang.Integer" resultType="java.lang.Long">
        SELECT COUNT(front_area3)
        FROM db_lottery_dlt_history
        WHERE front_area3 = #{frontAreaNum, jdbcType = DECIMAL}
        <if test="null != drawTimeFm">
            AND draw_time <![CDATA[ >= ]]> #{drawTimeFm, jdbcType = VARCHAR}
        </if>
        <if test="null != drawTimeTo">
            AND draw_time <![CDATA[ <= ]]> #{drawTimeTo, jdbcType = VARCHAR}
        </if>
    </select>

    <select id="countFrontArea4" parameterType="java.lang.Integer" resultType="java.lang.Long">
        SELECT COUNT(front_area4)
        FROM db_lottery_dlt_history
        WHERE front_area4 = #{frontAreaNum, jdbcType = DECIMAL}
        <if test="null != drawTimeFm">
            AND draw_time <![CDATA[ >= ]]> #{drawTimeFm, jdbcType = VARCHAR}
        </if>
        <if test="null != drawTimeTo">
            AND draw_time <![CDATA[ <= ]]> #{drawTimeTo, jdbcType = VARCHAR}
        </if>
    </select>

    <select id="countFrontArea5" parameterType="java.lang.Integer" resultType="java.lang.Long">
        SELECT COUNT(front_area5)
        FROM db_lottery_dlt_history
        WHERE front_area5 = #{frontAreaNum, jdbcType = DECIMAL}
        <if test="null != drawTimeFm">
            AND draw_time <![CDATA[ >= ]]> #{drawTimeFm, jdbcType = VARCHAR}
        </if>
        <if test="null != drawTimeTo">
            AND draw_time <![CDATA[ <= ]]> #{drawTimeTo, jdbcType = VARCHAR}
        </if>
    </select>

    <select id="countEndArea1" parameterType="java.lang.Integer" resultType="java.lang.Long">
        SELECT COUNT(end_area1)
        FROM db_lottery_dlt_history
        WHERE end_area1 = #{endAreaNum, jdbcType = DECIMAL}
        <if test="null != drawTimeFm">
            AND draw_time <![CDATA[ >= ]]> #{drawTimeFm, jdbcType = VARCHAR}
        </if>
        <if test="null != drawTimeTo">
            AND draw_time <![CDATA[ <= ]]> #{drawTimeTo, jdbcType = VARCHAR}
        </if>
    </select>

    <select id="countEndArea2" parameterType="java.lang.Integer" resultType="java.lang.Long">
        SELECT COUNT(end_area2)
        FROM db_lottery_dlt_history
        WHERE end_area2 = #{endAreaNum, jdbcType = DECIMAL}
        <if test="null != drawTimeFm">
            AND draw_time <![CDATA[ >= ]]> #{drawTimeFm, jdbcType = VARCHAR}
        </if>
        <if test="null != drawTimeTo">
            AND draw_time <![CDATA[ <= ]]> #{drawTimeTo, jdbcType = VARCHAR}
        </if>
    </select>
</mapper>