<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.basic.infra.mapper.OldGoodsMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.base.basic.domain.entity.v1.OldGoods">
        <result column="id" property="id" jdbcType="DECIMAL"/>
        <result column="sku" property="sku" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="category_id" property="categoryId" jdbcType="DECIMAL"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="picture_url" property="pictureUrl" jdbcType="VARCHAR"/>
        <result column="free_ship_flag" property="freeShipFlag" jdbcType="DECIMAL"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
    </resultMap>

    <select id="list" parameterType="com.base.basic.domain.entity.v1.OldGoods" resultMap="BaseResultMap">
        SELECT og.id,
               og.sku,
               og.name,
               og.category_id,
               og.price,
               og.picture_url,
               og.free_ship_flag,
               og.created_by,
               og.creation_date,
               og.last_updated_by,
               og.last_update_date,
               og.object_version_number
        FROM db_old_goods og
        WHERE 1 = 1
        <if test="null != name and '' != name">
            AND og.name like concat('%', concat(#{name, jdbcType = VARCHAR}, '%'))
        </if>
        <if test="null != priceFm">
            AND og.price &gt;= concat('%', concat(#{priceFm, jdbcType = DECIMAL}, '%'))
        </if>
        <if test="null != priceTo">
            AND og.price &lt;= concat('%', concat(#{priceTo, jdbcType = DECIMAL}, '%'))
        </if>
    </select>
</mapper>