<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.basic.infra.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.base.basic.domain.entity.v1.Role">
        <result column="role_id" property="roleId" jdbcType="DECIMAL"/>
        <result column="role_code" property="roleCode" jdbcType="VARCHAR"/>
        <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
        <result column="menu_ids" property="menuIds" jdbcType="VARCHAR"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
    </resultMap>

    <select id="list" parameterType="com.base.basic.domain.entity.v1.Role" resultMap="BaseResultMap">
        SELECT dr.role_id,
        dr.role_code,
        dr.role_name,
        dr.menu_ids,
        dr.enabled_flag,
        dr.object_version_number,
        dr.creation_date,
        dr.created_by,
        dr.last_updated_by,
        dr.last_update_date
        FROM db_role dr
        <where>
            <if test="null != roleCode and '' != roleCode">
                AND dr.role_code LIKE concat(concat('%', #{roleCode, jdbcType=VARCHAR}), '%')
            </if>
            <if test="null != roleName and '' != roleName">
                AND dr.role_name LIKE concat(concat('%', #{roleName, jdbcType=VARCHAR}), '%')
            </if>
        </where>
    </select>
</mapper>